#navbar{
    flex-direction: column;
    padding-top: 1.50rem;
    padding-bottom: 1rem;
    overflow: hidden;
    height:80px;
}
.kutu{
    display:flex;
    justify-content: center;
     flex-wrap: wrap;
     
}
.item{
    
    width: 200px;
  
 
  text-align: center;
   
   
}
.contact{
  display: block;
  margin-left: 0px;
  
  
      
}
/* #responsive{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
} */