*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
a{
    text-decoration: none;
    color: white;
}
html{
    font-family: 'Open Sans', sans-serif;
}
/* navbar home */
#navbar{
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 12px;
    height: 150px;
    

}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    padding: 10px;
}
#navbar ul li a:hover{
    color: grey;

}
/* home */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1rem solid grey;
    font-family: 'Cormorant Garamond', serif;

}
#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
#home a{
    margin-top: 1rem;
   font-size: 30px;
    color: black;
}
#home a :hover{
    color: rgb(0, 152, 199);

}
.kutu{
    display:flex;
    justify-content: center;
     flex-wrap: wrap;

     
}
.kutu .kutu1 span{
    position: absolute;
    left: 220px;
    background-color: grey;
    color: black;
    border-radius: 4px;
   
    
}
.kutu .kutu2 span{
    position: absolute;
    left: 680px;
    background-color: grey;
    color: black;
    border-radius: 4px;
}
.kutu .kutu3 span{
    position: absolute;
    left: 220px;
    background-color: grey;
    color: black;
    border-radius: 4px;
   
    
}
.kutu .kutu4 span{
    position: absolute;
    left: 680px;
    background-color: grey;
    color: black;
    border-radius: 4px;
   
    
}
.kutu .kutu5 span{
    position: absolute;
    left: 220px;
    background-color: grey;
    color: black;
    border-radius: 4px;
   
    
}
.kutu .kutu6 span{
    position: absolute;
    left: 680px;
    background-color: grey;
    color: black;
    border-radius: 4px;
   
    
}
.item{
    
    width: 400px;
  text-align: center;
   
    margin: 20px;
    padding: 5px;
    border-radius: 3%;
    border: 5px solid black;
    border-bottom: 1rem solid rgb(0, 0, 0);
    
}

    
#phone{
    border-bottom: 1rem solid grey;

}
#computer{
    border-bottom: 1rem solid grey;
}
.twit{
    color: black;
    font-size: 40px;
     margin-left: 6rem;
      font-family: 'Cormorant Garamond', serif;
      margin-top: 50px;
      display: inline-block;
      
}
.twit :hover{
    color: #00acee;
}
.ins{
    color: black;
    font-size: 40px;
     margin-left: 6rem;
      font-family: 'Cormorant Garamond', serif;
      margin-top: 50px;
      display: inline-block;
}
.ins :hover{
    color: #3f729b;
}
.mai{
    color: black;
    font-size: 40px;
     margin-left: 6rem;
      font-family: 'Cormorant Garamond', serif;
      margin-top: 50px;
      display: inline-block;
}
.mai :hover{
    color: #FBBC05;
}
.contact a{
    color: black;
}
